header {
  background-color: #fff;
  width: 100%;
  .header__wrapper {
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.6fr;
    height: 32px;
    padding: 8px;
    max-width: 70%;
    min-width: 60%;
    margin: 0 auto;
    .header__column {
      &:first-child {
        font-size: 30px;
        i {
          color: $red;
        }
        b {
          font-size: 20px;
          color: $black;
          font-weight: bold;
          letter-spacing: -1px;
          margin-left: 1px;
          vertical-align: 3px;
        }
      }
      &:nth-child(2) {
        border-color: $dark-grey;
        form {
          height: 30px;
          margin-top: -2px;
          display: grid;
          grid-template-columns: 1fr 50px;
          input {
            border: $dark-grey 1px solid;
          }
          button {
            border: $dark-grey 1px solid;
            font-size: 17px;
            color: $black;
            height: 36px;
          }
        }
      }
      &:last-child {
        margin-top: 7px;
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          li {
            text-align: right;
            margin-right: 2px;
          }
        }
      }
    }
  }
}
